{% extends 'base.html' %}
{% block title %}Recipes{% endblock %}
{% block content %}
<h1>Recipes</h1>

<form action="/check-meal" method='POST'>
    <div id="recipes-list" class="row">
        {% for recipe in recipes %}
        <div class="card border-primary mb-3 recipes" data-id="{{ recipe.recipe_id }}" style="max-width: 20rem;">
            <div class="card-header">
                    <input type="checkbox" name="recipes" value="{{ recipe.recipe_id }}">
            </div>
            <div class="card-body">  
                <h3>{{ recipe.recipe_name }}</h3><br>
                <a href="{{ recipe.url }}">
                    <img src="{{ recipe.image_url }}">
                </a>
            </div>
        </div>
{% endfor %}
    </div>
    <input type="submit" name="Add to meal plan!">
</form>

{% endblock %}