{% extends 'base.html' %}
{% block title %}Recipes{% endblock %}
{% block content %}
<h1>Recipes</h1>

<form action="/check-meal" method='POST'>
    <div id="recipes-list" class="row">
        {% for recipe in recipes %}
        <div class="col-4 recipes d-flex align-items-stretch">
            <div class="card bg-light m-3 w-100">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10 d-flex">
                            <h3>{{ recipe.recipe_name }}</h3>
                        </div>
                        <div class="col-2 d-flex">
                        <input type="checkbox" name="recipes" id="{{ recipe.recipe_id }}" value="{{ recipe.recipe_id }}" class="css-checkbox">
                        <label for="{{ recipe.recipe_id }}" class="css-label"></label>
                    <!-- <input type="checkbox" name="recipes" value="{{ recipe.recipe_id }}"> -->
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex justify-content-center align-items-center">  
                <!-- <h3>{{ recipe.recipe_name }}</h3><br> -->
                <a href="{{ recipe.url }}">
                    <img class="recipeimg w-100" src="{{ recipe.image_url }}">
                </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <input type="submit" name="Add to meal plan!">
</form>

{% endblock %}