{% extends 'base.html' %}
{% block title %}Set Up{% endblock %}
{% block content %}
<h1>Create Meal Plan</h1>
<h3>Please enter the ingredients of your pantry here:</h3>
<form class="profile-form" action="/plan-meal" method='POST'>
    <input type="text" name="ingredients" multiple>
    <select name="types" multiple>
        <option value="Dairy and Egg Products">Dairy and Egg Products</option>
        <option value="Proteins">Proteins</option>
        <option value="Soups, Sauces, and Gravies">Soups, Sauces, and Gravies</option>
        <option value="Produce">Produce</option>
        <option value="Nuts and Seeds">Nuts and Seeds</option>
        <option value="Grains and Pasta">Grains and Pasta</option>
    </select>
    <button type="button" class="new-button" onclick="addrow()">+</button><br>
    <input type="submit" class='submit-button'>
</form>
<!-- FUNCTIONALITY FOR ADDING NEW ROW FOR INGREDIENTS/TYPE -->
<script type="text/javascript">
    function addRow(evt) {
        $('.new-button').remove();
        $('.submit-button').remove()
        $('.profile-form').append('<input type="text" name="ingredients"><select name="types"> <option value="Dairy and Egg Products">Dairy and Egg Products</option><option value="Proteins">Proteins</option> <option value="Soups, Sauces, and Gravies">Soups, Sauces, and Gravies</option> <option value="Produce">Produce</option> <option value="Nuts and Seeds">Nuts and Seeds</option> <option value="Grains and Pasta">Grains and Pasta</option> </select><button type="button" class="new-button" onclick="addrow()">+</button><br> <input type="submit" class="submit-button">');
    }
//  Add event listener to profile form, .on'click', pass middle argument that is name of new class, callback().
    $('button').on('click', addRow);
    $('.profile-form').on('click', '.new-button', addRow);
</script>
{% endblock %}