{% extends 'base.html' %}
{% block title %}User Profile{% endblock %}
{% block content %}
<h1>User Profile</h1>
{% if recipes %}
<form action='/made-meal' method='POST'>
    {% for recipe in recipes %}
        <div>
            <h3>{{ recipe.recipe.recipe_name }}</h3><br>
            <a href="{{ recipe.recipe.url }}">
                <img src="{{ recipe.recipe.image_url }}"><br>
            </a>
            <button type="submit" name="recipe_id" value="{{ recipe.recipe.recipe_id }}">
                I made this!
            </button>
        </div>
    {% endfor %}
</form>
{% else %}
<h3>No recipes to display.</h3>
{% endif %}
<form action="/plan-meal">
    <input type="submit" value="Create a meal plan!">
</form>
{% endblock %}