{% extends 'base.html' %}
{% block title %}User Profile{% endblock %}
{% block content %}
<h1>User Profile</h1>
<hr>
<h2>Recommended Recipes for You:</h2>

<form action='/check-meal' method='POST'>
    {% for score, recipe in highest%}
    <div>

        <h3>{{ recipe.recipe_name }}</h3><br>
        <a href="{{ recipe.url }}">
            <img src="{{ recipe.image_url }}">
        </a><br>
        {% for i in range(score) %}
        <span class="fa fa-star checked"></span>
        {% endfor %}
        <input type="checkbox" name="recipes" value="{{ recipe.recipe_id }}"><br>
    </div>
    {% endfor %}
    <input type="submit" value="Add to meal plan!">
</form>

{% if recipes %}
<hr>
<h2>Current Meal Plan</h2>
    {% for recipe in recipes %}
    <form action='/made-meal' method='POST'>
        <div>
            <h3>{{ recipe.recipe.recipe_name }}</h3><br>
            <a href="{{ recipe.recipe.url }}">
                <img id="{{ recipe.recipe.recipe_id }}" src="{{ recipe.recipe.image_url }}"><br>
            </a>
            <button type="submit" name="recipe_id" value="{{ recipe.recipe.recipe_id }}">
                I made this!
            </button>
            <div class="stars">
              <input type="radio" id="{{ recipe.recipe.recipe_id }}-5" data-id="{{ recipe.recipe.recipe_id }}" name="rating" value="5" /><label for="{{ recipe.recipe.recipe_id }}-5"></label>
              <input type="radio" id="{{ recipe.recipe.recipe_id }}-4" data-id="{{ recipe.recipe.recipe_id }}" name="rating" value="4" /><label for="{{ recipe.recipe.recipe_id }}-4"></label>
              <input type="radio" id="{{ recipe.recipe.recipe_id }}-3" data-id="{{ recipe.recipe.recipe_id }}" name="rating" value="3" /><label for="{{ recipe.recipe.recipe_id }}-3"></label>
              <input type="radio" id="{{ recipe.recipe.recipe_id }}-2" data-id="{{ recipe.recipe.recipe_id }}" name="rating" value="2" /><label for="{{ recipe.recipe.recipe_id }}-2"></label>
              <input type="radio" id="{{ recipe.recipe.recipe_id }}-1" data-id="{{ recipe.recipe.recipe_id }}" name="rating" value="1" /><label for="{{ recipe.recipe.recipe_id }}-1"></label>
              <input type="radio" id="{{ recipe.recipe.recipe_id }}-0" data-id="{{ recipe.recipe.recipe_id }}" name="rating" value="0" class="star-cb-clear" />
            </div>
        </div>
        </form>
    {% endfor %}

{% else %}
<h3>No recipes to display.</h3>
{% endif %}
<hr>
<form action="/clear-meals" method="POST">
    <input type="submit" value="Start Fresh">
</form>
<form action="/logout" method="POST">
    <input type="submit" value="Logout">
</form>

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <h3>Please enter the ingredients of your pantry here:</h3>
                    <form class="profile-form" action="/plan-meal" method='POST'>
                        <input type="text" name="ingredients" multiple>
                        <select name="types" multiple>
                            <option value="Dairy and Egg Products">Dairy and Egg Products</option>
                            <option value="Proteins">Proteins</option>
                            <option value="Soups, Sauces, and Gravies">Soups, Sauces, and Gravies</option>
                            <option value="Produce">Produce</option>
                            <option value="Nuts and Seeds">Nuts and Seeds</option>
                            <option value="Grains and Pasta">Grains and Pasta</option>
                        </select>
                        <button type="button" class="new-button" onclick="addrow()">+</button><br>
                        <input type="submit" class='submit-button'>
                    </form>
            </div> <!-- Modal div ender -->
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default">Login</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Create a Meal Plan!</a>
</div>

<!-- FUNCTIONALITY FOR ADDING NEW ROW FOR INGREDIENTS/TYPE -->
<!-- Star Rating Source: https://codepen.io/lsirivong/pen/ekBxI -->
<script type="text/javascript">
    function addRow(evt) {
        $('.new-button').remove();
        $('.submit-button').remove()
        $('.profile-form').append('<input type="text" name="ingredients"><select name="types"> <option value="Dairy and Egg Products">Dairy and Egg Products</option><option value="Proteins">Proteins</option> <option value="Soups, Sauces, and Gravies">Soups, Sauces, and Gravies</option> <option value="Produce">Produce</option> <option value="Nuts and Seeds">Nuts and Seeds</option> <option value="Grains and Pasta">Grains and Pasta</option> </select><button type="button" class="new-button" onclick="addrow()">+</button><br> <input type="submit" class="submit-button">');
    }
//  Add event listener to profile form, .on'click', pass middle argument that is name of new class, callback().
    $('button').on('click', addRow);
    $('.profile-form').on('click', '.new-button', addRow);

// For star rating
    // var logID = 'log',
    // log = $('<div id="'+logID+'"></div>');
  // $('body').append(log);
    $('[type*="radio"]').change(function () {
      var me = $(this);
      console.log($("input:checked").val() + " is checked!");
      // log.html(me.attr('value'));
    });

// Code for selecting score and changing DOM
    function showRecipeScore(result) {
        let recipe_id = $("input:checked").data("id");
        $(`img#${recipe_id}`).css({"opacity": 0.5, "filter": "grayscale(100%)"});
        alert(result);
    }

    function passScoreValue(evt) {
    
    let formInputs = {
        'score': $("input:checked").val(),
        'recipe_id': $("input:checked").data("id"),
    };
    
    $.post('/made-and-scored-meal', formInputs, showRecipeScore);
    }

    $('[type*="radio"]').on('click', passScoreValue);
</script>
{% endblock %}